@page "/auto/{id:int}"
@inject IAutoService AutoService

@if(auto == null)
{
    <span>@message</span>

}else
{
        <div>
            <h2>@auto.AutoId</h2>
            <p>@auto.Fahrtenanbieter</p>
            <p>@auto.Marke</p>
            <p>@auto.Farbe</p>
            <p>@auto.Kennzeichen</p>
            <p>@auto.Baujahr</p>
            <p>@auto.Typ</p>
    </div>
}

@code {
    private Auto? auto = null;
    private string message= string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Auto...";

        var result = await AutoService.GetAuto(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            auto = result.Data;
        }
    }
}
